
<%- include("./parts/head") %>
<center>
    <h1>Sony Remote Tv's</h1>
</center>
<div class="btn-container">
    <a class="btn" href="/tv/10.0.2.221">Omen</a>
    <a class="btn" href="/tv/10.0.0.74">Groep 1</a>
</div>
<%- include("./parts/footer") %>
